@model PizzaStore.WebApp.Models.OrderView

@{
    ViewData["Title"] = "Home";
}

<h2>To Place an Order enter your First and Last Name and Preferred Location</h2>

<div class="row">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <table>
            <tr>
                <td>First Name: </td>
                <td>
                    @Html.TextBoxFor(model => model.FirstName)
                </td>
            </tr>
            <tr>
                <td>Last Name: </td>
                <td>
                    @Html.TextBoxFor(model => model.LastName)
                </td>
            </tr>
            <tr>
                <td>Location: </td>
                <td>
                    @Html.TextBoxFor(model => model.PrefLocation)
                   
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    }
</div>

